*~
test
*.pyc
src/wiki-files/differences-with-debian.txt
src/config/

# virtualenv
bin/
include/
local/
lib/
man/
share/
man/
pip-selfcheck.json

# setup.py
*egg-info/
build/
dist/

# coverage
.coverage
