# general
*.egg-info/
build/
dist/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# old cruft
test
src/wiki-files/differences-with-debian.txt
src/config/

# virtualenv
bin/
include/
local/
lib/
man/
share/
man/
pip-selfcheck.json

# coverage
.coverage
